.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 15px 0;
}

#box_lembrar {
  display: inline-block;
  margin-right: 280px;
  padding-top: 10px;
  color: white;
  font-family: var(--fonte-padrao);
}

#box_lembrar input {
  text-align: left;
  padding-right: 200px;
}

#box_login {
  text-align: center;
  padding-top: 90px;
}

.register-submit-container {
  padding-top: 20px;
}

.auth-link {
  display: block;
  color: white;
  font-family: var(--fonte-padrao);
  text-decoration: none;
  padding-top: 5px;
  text-align: center;
}

.auth-link:hover {
  text-decoration: underline;
}

.auth-primary-button {
  text-align: center;
  display: block;
  margin: auto;
  width: 284px;
  height: 40px;
  border-radius: 10px;
  font-family: var(--fonte-padrao);
  font-size: 16px;
  font-weight: 600;
  background-color: var(--cor2);

  margin-bottom: 20px;
  transition-duration: 0.8s;
}

.auth-primary-button:hover {
  transform: scale(1.1);
}

.error-container {
  display: inline-block;
  font-family: var(--fonte-padrao);
  font-size: 16px;
  font-weight: 500;
  color: red;
  background: white;
  padding: 6px;
  border-radius: 8px;
}
