.login {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  color: white;
  padding: 0 20px;
}

.user-avatar {
  width: 40px;
  height: 40px;

  display: block;
  margin: auto;
  border-radius: 50%;
}

.user-container {
  display: flex;
  justify-content: center;
}

.user-name {
  font-size: 1em;
  font-weight: 600;
  color: white;
  font-family: var(--fonte-padrao);
}

.user-menu-link {
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .login {
    flex-grow: 0;
  }
}
