.login {
  display: block;
  position: absolute;
  right: 0;
  color: white;
  padding: 45px 25px 25px 25px;
}

.user-avatar {
  width: 40px;
  height: 40px;

  display: block;
  margin: auto;
  border-radius: 50%;
}

.user-container {
  display: flex;
  justify-content: center;
  font-family: var(--fonte-padrao);
}

.user-name {
  font-size: 1em;
  font-weight: 600;
}
