.input-container {
  display: inline-block;
  font-family: var(--fonte-padrao);
  font-size: 16px;
  font-weight: 500;
  color: white;
}

.input-container p {
  text-align: left;
}

.input-container input {
  width: 421px;
  height: 40px;
  border-radius: 10px;
}

.input-container textarea {
  width: 421px;
  border-radius: 10px;
}

@media only screen and (max-width: 768px) {
  .input-container input {
    width: 100%;
  }

  .input-container textarea {
    width: 100%;
  }

  .input-container {
    width: 90%;
  }
}
