.main-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 100px;
  padding-bottom: 10px;
  background-color: var(--cor0);
}

.main-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: var(--fonte-titulo);
  font-size: 1.6vw;
  font-weight: 400;
}

.main-logo a {
  text-decoration: none;
  color: white;
}

.menu {
  padding-left: 2vw;
  font-family: var(--fonte-titulo2);
  font-size: 1.5vw;
}

.menu nav a {
  text-decoration: none;
  font-family: "Poppins";
  color: white;
  font-weight: 400;
  padding: 5px 5px 5px 5px;
  transition-duration: 0.8s;
}

.menu nav a:hover {
  background-color: var(--cor2);
  border-radius: 10px;
}
