.game-select {
  width: 421px;
  color: black;
}

.add-library-submit-container {
  margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {
  .game-select {
    width: 100% !important;
  }
}
