.library-main-container {
  width: 980px;
  max-width: 100%;
  margin: 0 auto;
  padding: 30px 0;
}

.create-game-button {
  display: flex;
  justify-content: center;
  align-items: center;

  color: white;

  box-sizing: content-box;

  width: 180px;
  height: 20px;
  padding: 15px;
  border-radius: 15px;
  border: 2px solid black;
  font-family: var(--fonte-padrao);
  background-image: linear-gradient(
    to right,
    #ff7a00 4.24%,
    #ffb800 79.05%,
    #ff7a00 100%
  );
  transition: 0.8s;

  text-decoration: none;
}

.create-game-button:hover {
  transform: scale(1.2);
}

.games-listing {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px; /* Define o espaçamento entre as imagens */
}

.games-listing img {
  width: 300px;
  height: 160px;
  border-radius: 20px;
  margin-bottom: 10px;
  transition-duration: 0.8s;

  object-fit: cover;
}

.game-card {
  text-decoration: none;
}

.library-game-title {
  /*Configuração global para todas as sections em relação ao link tanto da img e do texto que foi desativada a função :hover  peguei do style primmiero pronto*/
  text-align: center;
  text-decoration: none;
  font-family: var(--fonte-padrao);
  font-weight: 600;
  color: white;
  font-size: 16px;
  transition-duration: 0.8s;
  padding: 5px;

  width: 100%;
  display: inline-block;
}

.game-library-image img:hover {
  transform: scale(1.1);
}

.category-select-container {
  display: flex;
  justify-content: center;
  margin: 8px 0;
}

@media only screen and (max-width: 768px) {
  .games-listing {
    gap: 0;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
  }

  .game-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .games-listing img {
    width: 90%;
  }
}
